# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Path to file with data
PATH = '../Module3_pandas/athlete_events.csv'

In [4]:
#extract data and select 5 first rows
data = pd.read_csv(PATH).drop_duplicates()
data.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [8]:
# year was changed.
Age = data[(data.Year == 1988)][['Sex', 'Age', 'Year', 'Name', 'Games']].groupby('Sex')['Age'].agg('min')
Age

Sex
F    11.0
M    12.0
Name: Age, dtype: float64

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [143]:
All_female_players = data[(data.Year == 2012) & (data.Sex == 'F')][['Name', 'Sex', 'Sport']].drop_duplicates()
Basketboll_players_percentage = round(All_female_players[(All_female_players.Sport == 'Basketball')].shape[0] / 
                                          All_female_players.shape[0] * 100
                                , 1)
print(f'Percentage of female basketball players among all the female participants is {Basketboll_players_percentage}')

Percentage of female basketball players among all the female participants is 3.1

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [177]:
tennis_players = data[(data.Year == 1988) & 
                      (data.Sex == 'F') & 
                      (data.Sport == 'Tennis')
                     ][['Name','Height']].drop_duplicates()

avg_height = round(tennis_players['Height'].mean(), 1)
max_height = round(tennis_players['Height'].max(), 1)

print(f'Mean height of tennis players is {avg_height}\nMax height of tennis players is {max_height}')

Mean height of tennis players is 171.1
Max height of tennis players is 190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [300]:
participant_weight = data[(data.Year == 1988)][['Name', 'Weight','Sport']]
participant_weight[participant_weight.Weight == participant_weight.Weight.max()]

              Name  Weight          Sport
270643  Ji Zubrick   161.0  Weightlifting

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [10]:
# added uniqueness participation
participating = data[(data.Name == 'John Aalberg')]['Games'].drop_duplicates().count()

f'John Aalberg was participating {participating} times in Olympic Games'

'John Aalberg was participating 2 times in Olympic Games'

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [182]:
events = data[(data.Name == 'John Aalberg') & (data.City == 'Albertville')]['Event'].drop_duplicates().count()

f'John Aalberg was participating in {events} events during Albertville Olympic Games'

'John Aalberg was participating in 4 events during Albertville Olympic Games'

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [23]:
belarus_gold_medals = data[(data.NOC == 'BLR') & 
                           (data.Sport == 'Tennis') &
                           (data.Year == 2012) &
                           (data.Medal == 'Gold')
                          ][['Event', 'Medal']].drop_duplicates().shape[0]
print(f'Belarus was recived {belarus_gold_medals} gold {"medal" if belarus_gold_medals == 1 else "medals"} at the 2012 Olympics')

Belarus was recived 1 gold medal at the 2012 Olympics

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [24]:
#drop strict inequality
count_of_medals = data[(data.NOC).isin(['ITA','ESP']) & 
                       (data.Year == 2016) &
                       (data.Medal.notnull())
                      ][['Medal', 'Event', 'NOC']].drop_duplicates()[['Medal','NOC']].groupby('NOC', as_index=False).agg('count')

print(f'''It is {count_of_medals[count_of_medals.NOC == 'ESP']['Medal'].item() <
                 count_of_medals[count_of_medals.NOC == 'ITA']['Medal'].item()} that Spain won fewer medals than Italy''')

It is True that Spain won fewer medals than Italy

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [315]:
sport_count = data[(data.Year).isin([1988, 2002])][['Sport', 'Year']].drop_duplicates().groupby('Year', as_index =False).agg('count')

print(f'Absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics is {sport_count[(sport_count.Year == 1988)]["Sport"].item() - sport_count[(sport_count.Year == 2002)]["Sport"].item()}')

Absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics is 22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [36]:
Medal_count = data[(data.Medal.notnull())][['Medal', 'Event', 'NOC']].drop_duplicates()[['Medal', 'NOC']].groupby(['NOC'], as_index=False).agg('count')

Medal_count[Medal_count.Medal == Medal_count.Medal.max()]

     NOC  Medal
141  USA    950